@import "tailwindcss";


@theme {
  --font-poppins: "Poppins", sans-serif;

  --color-primary: #f7ba34;
  --color-secondary: #69a79c;
  --color-light: #f7f7f7;
  --color-dark: #333333;
  --color-dark2: #999999;

  --container-padding: 1rem;
  --container-padding-sm: 2rem;
  --container-padding-lg: 4rem;
  --container-padding-xl: 5rem;
  --container-padding-2xl: 6rem;
}

@utility text-home-heading-large {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
}

@utility text-home-heading-small {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.3;
}

/* Optional: customize container */
@utility container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding);

  @media (min-width: 640px) {
    padding-inline: var(--container-padding-sm);
  }
  @media (min-width: 1024px) {
    padding-inline: var(--container-padding-lg);
  }
  @media (min-width: 1280px) {
    padding-inline: var(--container-padding-xl);
  }
  @media (min-width: 1536px) {
    padding-inline: var(--container-padding-2xl);
  }
}
